{% extends 'core/base.html' %}

{% block content %}

<h1>Orders List</h1>
<hr>

<section class="row">

    <div class="col-12 container text-center">

        <!-- ORDERS LISTING  -->

        <div class="table-responsive-sm ">
            <table class="table table-hover table-sm" id="tabla">
                <thead>
                    <tr class="border-top-0">
                        <th colspan=4 scope="col" class="border-top-0">
                            Order
                        </th>
                        <th colspan=1 scope="col" class="border-top-0">
                            Customer
                        </th>
                    </tr>
                    <tr class="border-top-0">
                        <th scope="col" class="border-top-0">
                            id
                        </th>
                        <th scope="col" class="border-top-0">
                            Status
                        </th>
                        <th scope="col" class="border-top-0">
                            Created At
                        </th>
                        <th scope="col" class="border-top-0">
                            Updated At
                        </th>
                        
                        <th scope="col" class="border-top-0">
                            Email
                        </th>

                        <th scope="col" class="border-top-0">
                            Detail
                        </th>

                    </tr>

                </thead>

                {% if orders_list %}
                <tbody>
                    {% for order in orders_list %}
                    <tr>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.status }}
                        </td>
                        <td>
                            {{ order.created_at }}
                        </td>
                        <td>
                            {% if order.updated_at %} {{ order.updated_at }}  {% else %} - {% endif %}
                        </td>

                        <td>
                            {{ order.customer_email }}
                        </td>

                        <td>
                            <!-- Detail -->
                            <form action="{{url_for('order.order_detail')}}" method="GET">
                                <input type="hidden" name="id" value="{{order.id}}">
                                <input type="submit" title="Detail" class="btn btn-outline-dark btn-sm" value="&#128269;">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>

            <!-- END - ORDERS LISTING  -->

        </div>

</section>

{% endblock %}