{% extends 'core/base.html' %}

{% block content %}

<h1>Welcome!</h1>
<hr>

<section class="row">

  <div class="col-xl-7 col-sm-12">
    <p class="container px-5 mx-2">
      This is Virtual Shop!! a form of electronic commerce which allows you to directly buy a good product: the "Xiaomi
      QiCYCLE"
      through the "PlaceToPay Web-Checkout" payment service, you can use this web app on your web browser or a mobile
      app
      within a webview.
      <br>
      <img src="{{ url_for('static', filename='/img/ebike1.jpg') }}" width="200" height="200" alt="e-Bike" />
      <br>
      You can make your order of thi cool bike rigth here with a few information about you, the best is that it is only
      $500
      USD !!!
    </p>
    <br>

  </div>

  <div class="col-xl-5 col-sm-12 container text-center">

    <!-- ORDER REQUEST  -->
    {% if form %}

    <b>Make your order here, now!</b>
    <br><br>

    <form method="POST" action="/">
      {{ form.csrf_token }}
      {{ form.customer_name.label }} {{ form.customer_name(size=20) }}
      <br>
      {{ form.customer_address.label }} {{ form.customer_address(size=20) }}
      <br>
      {{ form.customer_email.label }} {{ form.customer_email(size=20) }}
      <br>
      {{ form.customer_mobile.label }} {{ form.customer_mobile(size=20) }}
      <br><br>
      <input type="submit" value="Order Now!">
    </form>

    {% endif %}
    <!-- END ORDER REQUEST  -->

  </div>

</section>

{% endblock %}